<!-- 
<!DOCTYPE html>
<html>
  <head>
    <link href="/bs/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="container"> -->
 

    <!--    <b>hello<span>{{user._id}}</span></b>-->


        {% if vm.name != null %}
        <form action="/vm/adminUpdateVm/{{vm._id}}" method="POST"  autocomplete="off">
        {% else %}
        <form action="/vm/adminAddVm/" method="POST" autocomplete="off">
        {% endif %}


    <div class="form-row">
    
   
   
<!--
    separation
-->

    <div class="form-group col-md-6">
        <label>Cloud </label>
        <select   class="form-control"  id="selectListDC" name="selectListDC" >
            {% if vm.cloud != null %}
            <option  selected disabled value="{{vm.cloud.name}}">{{vm.cloud.name}}</option>
            
            {% else %}
                
            {% for d in c %}
            <option value="{{d.name}}">{{d.name}}</option>  
            {% endfor %}
            
            {% endif %}
            
        </select>
    </div>


    <div id="DCdiv" class="form-group col-md-6"> 
    <label>Cluster</label>
        {{vm.cluster}}
    

    </div>


    <div id="DSdiv" class="form-group col-md-6"> 
    <label>Data Store</label>
     <select class="form-control"  id="DS" name="DS" {% if vm is defined %} readonly="readonly" {% endif %}
     >
         {% if vm.ds != null %}
         <option selected disabled value="{{vm.ds}}">{{vm.ds}}</option>
         {% endif %}
             
    </select>

    </div>

    <div id="DCenterDiv" class="form-group col-md-6">
        <label>Datacenter</label>
        <select class="form-control"  id="Dcenter" name="Dcenter" {% if vm is defined %} readonly="readonly" {% endif %}>
                {% if vm is defined %}
                <option value="{{vm.dc}}">{{vm.dc}}</option>
                {% endif %}
        </select>
    </div>




    <div class="form-group col-md-6">
        <label>vm name</label>
        <input type="text" class="form-control" value="{% if vm.name != null %} {{vm.name}}  {% endif %}"  name="vmname" >
         
    </div>
    <div class="form-group col-md-6">
        <label>vm password</label>
        <input type="text" class="form-control" name="vmpw"  value="{% if vm.vmpw != null %} {{vm.vmpw}}{% endif %}">
         
 </div>

 <div class="form-group col-md-6">
    <label>OS</label>
    <select   class="form-control"  id="selectListOS" name="selectListOS">
       {% if vm is defined %}
       <option value="{{vm.osType.type}}" readonly="readonly">{{vm.osType.type}}</option>  
       {% else %}
       <option  selected disabled></option>
        {% for os in osType %}
        <option value="{{os.type}}">{{os.type}}</option>  
        {% endfor %}
        {% endif %}
    </select>  
</div>  

 {% if vm is defined %}
    <div  class="form-group col-md-6"> 
            <label>OS details</label>
            <select   class="form-control"  name="detailListOS">
                <option value ={{vm.os.name}} readonly="readonly">{{vm.os.name}}</option>
            </select>
        </div>  
    {% else %}
    <div id="OSdiv" class="form-group col-md-6"> 
        <label>OS details</label>
        <select   class="form-control"  id="detailListOS" name="detailListOS">
        </select>
    </div>  
    {% endif %} 


 <div class="form-group col-md-6">
    <label>folder</label>
    <input type="text" class="form-control" name="folder" {% if vm is defined  %} value="{{vm.projectFolder}}" {% endif %}
     >
     
</div>

    <div class="form-group col-md-6">
        <label>cpus number</label>
        <input type="number" class="form-control" name="cpus" >
         
    </div>
    <div class="form-group col-md-6">
        <label>Memory</label>
        <input type="text" class="form-control" name="ram" >
         
    </div>

    <div class="form-group col-md-2">
        <label>number of disks </label>
        <select   class="form-control"  id="selectList" name="selectList" onchange="selc()">
            <option value="1">1</option>
        </select>
         
    </div>        

<div id="disks" class="form-group col-md-10"> 
    <label>disk1</label><br> 
    <input style="display:inline-block;margin-right:50px;"type="number" class="form-control col-md-6" name="disk1" placeholder="capacity of disk1" >
    <input type="checkbox" class="check-box disks" name="pdisk1" id="pdisk1" onchange="persistent(this);"><label style="display:inline-block;margin-left:20px;">persistent?</label><br>
</div>
<br>

<div class="col-md-12">
<div class="form-group col-md-3">
        <label>number of networks </label>
        <select class="form-control"  id="selectListnet" name="selectListnet" onchange="selcNet()" >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
         
    </div>        
<div class="form-row">
<div id="networksvlan" class="col-md-2"> 
    <label>network 1 vlan</label><br> 
    <input class="form-control" style="width: 100%" type="number" name="vlan1" placeholder="network1 vlan" >
</div>
<div id="networksip" class="col-md-6 offset-md-1"> 
    <label>network 1 ip</label><br> 
    <input class="form-control" style="width: 100%" type="text" name="ip1" placeholder="network1 ip" >
</div>
<div id="networkscidr" class="col-md-2 offset-md-1"> 
    <label>network 1 cidr</label><br> 
    <input class="form-control" style="width: 100%" type="number" max="32" name="cidr1" placeholder="network1 ip" >
</div>
</div>
</div>




<div class="form-group col-md-6">
        <label>domain name</label>
        <input type="text" class="form-control" name="dn" >
         
 </div>


 <div class="form-group col-md-6">
        <label>Gateway</label>
        <input type="text" class="form-control" name="gw" >
         
 </div>

 <div class="form-group col-md-6">
        <label>dns server</label>
        <input type="text" class="form-control" name="dns" >
         
 </div>

 








</div>

<div class="form-group">
    <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
   

</div>

<script>
    isObject = function(a) {
    return (!!a) && (a.constructor === Object);
    };
    isArray = function(a) {
    return (!!a) && (a.constructor === Array);
    };
  $(document).ready(function () {
    var detailListOS =document.getElementById("detailListOS");
    $('#selectListOS').change(function () {
        $('#detailListOS').empty();
        $.ajax({
            type: "POST",
            url: "http://localhost:3000/vm/getOsNames",
            data: { type: $(this).val()},
            datatype: "json",
            success: function (res) {
               
            for (r of res){
                var option=document.createElement("option");
                option.text=r.name
                detailListOS.add(option)
            }
            }
         });
     });

   // var cluster =document.getElementById("Cluster");
   var dsdiv =document.getElementById('DSdiv');
        var dcdiv =document.getElementById("DCdiv");
        var DCenterdiv = document.getElementById("DCenterDiv")
        $('#selectListDC').change(function () {
            //$('#Cluster').empty();
            $.ajax({
                type: "POST",
                url: "http://localhost:3000/vm/getClDs",
                data: { Dc: $(this).val()},
                datatype: "json",
                beforeSend: function(){
                     while(dcdiv.firstChild){
                        dcdiv.removeChild(dcdiv.firstChild);
                     }
                     while(dsdiv.firstChild){
                        dsdiv.removeChild(dsdiv.firstChild);
                     }
                     while(DCenterdiv.firstChild){
                        DCenterdiv.removeChild(DCenterdiv.firstChild);
                     }
                     
                     $( " <label>Cluster</label>" ).appendTo( "#DCdiv" )
                    $( " <p id='pp' name='pp'>please wait ...</p>" ).appendTo( "#DCdiv" )
                    $( " <label>Data Store</label>" ).appendTo( "#DSdiv" )
                    $( " <p id='pp' name='pp'>please wait ...</p>" ).appendTo( "#DSdiv" )
                    $( " <label>Data Center</label>" ).appendTo( "#DCenterDiv" )
                    $( " <p id='pp' name='pp'>please wait ...</p>" ).appendTo( "#DCenterDiv" )
                },
                complete: function(){
                    
                },
                success: function (res) {
                    while(dcdiv.firstChild){
                        dcdiv.removeChild(dcdiv.firstChild);
                     }
                     while(dsdiv.firstChild){
                        dsdiv.removeChild(dsdiv.firstChild);
                     }
                     while(DCenterdiv.firstChild){
                        DCenterdiv.removeChild(DCenterdiv.firstChild);
                     }
                     
                $( " <label>Cluster</label>" ).appendTo( "#DCdiv" )   
                $( " <select   class='form-control' id='Cluster' name='Cluster'></select>" ).appendTo( "#DCdiv" )
                $( " <label>Data Store</label>" ).appendTo( "#DSdiv" )
                $( " <select   class='form-control' id='DS' name='DS'></select>" ).appendTo( "#DSdiv" )
                $( " <label>Data Center</label>" ).appendTo( "#DCenterDiv" )
                $( " <select   class='form-control' id='DCenter' name='DCenter'></select>" ).appendTo( "#DCenterDiv" )
                    //new added for test
                var cluster =document.getElementById("Cluster");
                var DCenter =document.getElementById("DCenter");
                var dataStore = document.getElementById("DS");
                    console.log(res.cl)
                    /*var option=document.createElement("option");
                    option.text="{{user.email}}"
                    cluster.add(option)*/
                if(isArray(res.cl)){
                    for(cl of res.cl){
                    console.log(cl.name)
                    var option=document.createElement("option");
                    option.text=cl.Name 
                    if(cl.Name === "{{user.cluster}}"){
                    option.selected =true;
                    }
                    cluster.add(option)
                    }
                }else{
                    console.log(res.cl.name)
                    var option=document.createElement("option");
                    option.text=res.cl.Name 
                    if(res.cl.Name === "{{user.cluster}}"){
                    option.selected =true;
                    }
                    cluster.add(option)
                }
                if(isArray(res.dcenter)){
                    for(d of res.dcenter){
                    console.log(d.name)
                    var option=document.createElement("option");
                    option.text=d.Name 
                    if(d.Name === "{{user.dc}}"){
                    option.selected =true;
                    }
                    DCenter.add(option)
                    }
                }else{
                    console.log(res.dcenter.Name)
                    var option=document.createElement("option");
                    option.text=res.dcenter.Name 
                    if(res.dcenter.Name === "{{user.dc}}"){
                    option.selected =true;
                    }
                    DCenter.add(option)
                }
                for (ds of res.ds){
                    console.log(ds.Name)
                    var option=document.createElement("option");
                    option.text=''+ds.Name+'|'+ds.FreeSpaceGB+' GB';
                    if(ds.Name === "{{user.ds}}"){
                    option.selected =true;
                    datastore.readOnly= true;
                    }
                    dataStore.add(option)
                }
                }
             });
         });
    
    
        });
        window.onload = function() {
      
    
      isObject = function(a) {
      return (!!a) && (a.constructor === Object);
      };
      isArray = function(a) {
      return (!!a) && (a.constructor === Array);
      };
    $(document).ready(function () {
     
  
     // var cluster =document.getElementById("Cluster");
      
      var dsdiv =document.getElementById('DSdiv');
      var dcdiv =document.getElementById("DCdiv");
      var DCenterdiv = document.getElementById("DCenterDiv");
      var cloud =document.getElementById("selectListDC");
          //$('#Cluster').empty();
          console.log('hiiiiiiiii : '+ cloud.value)
          $.ajax({
              type: "POST",
              url: "http://localhost:3000/vm/getClDs",
              data: { Dc: cloud.value},
              datatype: "json",
              beforeSend: function(){
                   while(dcdiv.firstChild){
                      dcdiv.removeChild(dcdiv.firstChild);
                   }
                   while(dsdiv.firstChild){
                      dsdiv.removeChild(dsdiv.firstChild);
                   }
                   while(DCenterdiv.firstChild){
                      DCenterdiv.removeChild(DCenterdiv.firstChild);
                   }
                   
                   $( " <label>Cluster</label>" ).appendTo( "#DCdiv" )
                  $( " <p id='pp' name='pp'>please wait ...</p>" ).appendTo( "#DCdiv" )
                  $( " <label>Data Store</label>" ).appendTo( "#DSdiv" )
                  $( " <p id='pp' name='pp'>please wait ...</p>" ).appendTo( "#DSdiv" )
                  $( " <label>Data Center</label>" ).appendTo( "#DCenterDiv" )
                  $( " <p id='pp' name='pp'>please wait ...</p>" ).appendTo( "#DCenterDiv" )
              },
              complete: function(){
                  
              },
              success: function (res) {
                  while(dcdiv.firstChild){
                      dcdiv.removeChild(dcdiv.firstChild);
                   }
                   while(dsdiv.firstChild){
                      dsdiv.removeChild(dsdiv.firstChild);
                   }
                   while(DCenterdiv.firstChild){
                      DCenterdiv.removeChild(DCenterdiv.firstChild);
                   }
                   
              $( " <label>Cluster</label>" ).appendTo( "#DCdiv" )   
              $( " <select   class='form-control' id='Cluster' name='Cluster'></select>" ).appendTo( "#DCdiv" )
              $( " <label>Data Store</label>" ).appendTo( "#DSdiv" )
              $( " <select   class='form-control' id='DS' name='DS'></select>" ).appendTo( "#DSdiv" )
              $( " <label>Data Center</label>" ).appendTo( "#DCenterDiv" )
              $( " <select   class='form-control' id='DCenter' name='DCenter'></select>" ).appendTo( "#DCenterDiv" )
                  //new added for test
              var cluster =document.getElementById("Cluster");
              var DCenter =document.getElementById("DCenter");
              var dataStore = document.getElementById("DS");
                  console.log(res.cl)
                  /*var option=document.createElement("option");
                  option.text="{{user.email}}"
                  cluster.add(option)*/
              if(isArray(res.cl)){
                  for(cl of res.cl){
                  console.log(cl.Name)
                  var option=document.createElement("option");
                  option.text=cl.Name 
                  if(cl.Name === "{{user.cluster}}"){
                  option.selected =true;
                  }
                  cluster.add(option)
                  }
              }else{
                  console.log(res.cl.Name)
                  var option=document.createElement("option");
                  option.text=res.cl.Name 
                  if(res.cl.Name === "{{user.cluster}}"){
                  option.selected =true;
                  }
                  cluster.add(option)
              }
              if(isArray(res.dcenter)){
                  for(d of res.dcenter){
                  console.log(d.name)
                  var option=document.createElement("option");
                  option.text=d.Name 
                  if(d.Name === "{{user.dc}}"){
                  option.selected =true;
                  }
                  DCenter.add(option)
                  }
              }else{
                  console.log(res.dcenter.Name)
                  var option=document.createElement("option");
                  option.text=res.dcenter.Name 
                  if(res.dcenter.Name === "{{user.dc}}"){
                  option.selected =true;
                  }
                  DCenter.add(option)
              }
              if ( {{vm.name | json_encode()}} != null) {
                  var option=document.createElement("option");
                  option.text= {{vm.ds | json_encode()}};
                  dataStore.add(option)
              
                }else{    
              for (ds of res.ds){
                  console.log(ds.Name)
                  var option=document.createElement("option");
                  option.text=''+ds.Name+'|'+ds.FreeSpaceGB+' GB';
                  if(ds.Name === "{{user.ds}}"){
                  option.selected =true;
                  
                  }
                  dataStore.add(option)
              }}
              }
           });
      
  
  
      });
  
  
  };

function selc(){
    
    var selectList =document.getElementById("selectList");
    var disks =document.getElementById("disks");
    var nbDisks=selectList.value;
   var componentDisks ='';
  while(disks.firstChild){
    disks.removeChild(disks.firstChild);
}
for (var j = 1;j <= nbDisks; j++) {
  console.log(j);
  componentDisks +='<label>disk'+j+'</label><br> <input style="display:inline-block;margin-right:50px;"type="number" class="form-control col-md-6" name="disk'+j+'" placeholder="capacity of disk'+j+'"   > <input type="checkbox" class="check-box" name="pdisk'+j+'" id="pdisk'+j+'" onchange="persistent(this);"><label style="display:inline-block;margin-left:20px;">persistent?</label><br>' ;

}
disks.innerHTML=componentDisks;
}

function selcNet(){
    
    var selectListnet =document.getElementById("selectListnet");
    var networksvlan =document.getElementById("networksvlan");
    var networkscidr =document.getElementById("networkscidr");
    var networksip =document.getElementById("networksip");
    var nbNet=selectListnet.value;
   var componentvl ='';
   var componentip ='';
   var componentcidr='';
  /*while(disks.firstChild){
    disks.removeChild(disks.firstChild);
}*/
for (var j = 1;j <= nbNet; j++) {
  console.log(j);
  componentvl +='<label>network'+j+'vlan </label><br> <input style="display:inline-block;margin-right:50px;"type="number" class="form-control col-md-6" name="vlan'+j+'" placeholder="network'+j+' vlan" > <br> '
  componentip +='<label>network'+j+'ip</label><br> <input style="display:inline-block;margin-right:50px;"type="text" class="form-control col-md-6" name="ip'+j+'" placeholder="network'+j+' ip" > <br>' 
  componentcidr +='<label>network'+j+'cidr</label><br> <input style="display:inline-block;margin-right:50px;"type="number"max="32" class="form-control col-md-6" name="cidr'+j+'"> <br>'
}
networksip.innerHTML=componentip;
networksvlan.innerHTML=componentvl;
networkscidr.innerHTML=componentcidr;
}
var check=false;
function persistent(k){
     
    
    if($('#'+k.id).prop("checked") == true){
        check =true;
    }else{
        check=false;
    }
    if(check){
        $('#'+k.id).before('<input style="display:inline-block;margin-right:50px;"type="text" class="form-control col-md-6" name="name'+k.id+'" id="name'+k.id+'" placeholder="name of disk1" >')
    }else
    $('#name'+k.id).remove();
  
}

</script>
<!-- </body>
</html> -->